KERNEL_FS_CFLAGS=
KERNEL_FS_LDFLAGS=

KERNEL_FS_OBJS=\
$(DIR_FS)/multiboot.o \
$(DIR_FS)/fs.o \
$(DIR_FS)/binfmt.o \
$(DIR_FS)/binfmt_elf.o \
$(DIR_FS)/char.o \
$(DIR_FS)/devfs.o \
$(DIR_FS)/super.o \
$(DIR_FS)/file.o \
$(DIR_FS)/dentry.o \
$(DIR_FS)/inode.o \
$(DIR_FS)/initramfs.o \
$(DIR_FS)/multiboot2.o \
$(DIR_FS)/pipe.o \
