LIBC_CTYPE_CFLAGS=
LIBC_CTYPE_LDFLAGS=

LIBC_CTYPE_OBJS=\
ctype/isalnum.o \
ctype/isalpha.o \
ctype/isblank.o \
ctype/iscntrl.o \
ctype/isdigit.o \
ctype/isgraph.o \
ctype/islower.o \
ctype/isprint.o \
ctype/ispunct.o \
ctype/isspace.o \
ctype/isupper.o \
ctype/isxdigit.o \
ctype/tolower.o \
ctype/toupper.o \
