KERNEL_DRIVER_CFLAGS=
KERNEL_DRIVER_LDFLAGS=
KERNEL_DRIVER_OBJS=\
$(DRIVERDIR)/pit.o \
$(DRIVERDIR)/lapic.o \
$(DRIVERDIR)/ioapic.o \
$(DRIVERDIR)/device.o \
$(DRIVERDIR)/bus/pci.o \
$(DRIVERDIR)/console/tty.o \
$(DRIVERDIR)/console/ps2.o \
$(DRIVERDIR)/disk/ahci.o \
$(DRIVERDIR)/gfx/vga.o \
$(DRIVERDIR)/gfx/vbe.o \
